@use 'base/variables'as v;
@use 'base/mixins'as m;

.alerta{
    padding: 1rem;
    color: v.$blanco;
    width: 40%;
    display: block;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    
  
    &.error{
        background-color: v.$rojo;
    }

    &.exito{
        background-color: v.$verde;
    }
}