@use 'base/variables'as v;
@use 'base/mixins'as m;


.boton{
    @include m.boton(v.$verde, v.$verdeOscuro);
    &:hover{
        color: v.$blanco;
    }
}

.botonlogin{
    width: 100%;
}


.boton-modificar{
   
    @include m.boton(v.$negro, v.$blanco);
   
    &:hover{
        color: v.$blanco;
    }

 
}
<<<<<<< HEAD
=======


.botondesglose{
    @include m.boton(v.$azul, v.$blanco);
    & {
        font-size:3.6rem;
    }
    &:hover{
        color: v.$blanco;
    }

 
}
>>>>>>> 25ce17e (nuevos cambios)
