// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$azul: #0da6f3;
$azulOscuro: #0e618a;
$rosado:#ef87f8;
$rosadoOscuro:#de09f1;
$amarillo:#f1fa91;
$rojo: #cb0000;
$rojoOscuro: #550404;
$verde:#329f00;
$verdeOscuro:#3a6427;
$negro: #1a1b15;

$blanco: #FFFFFF;
$gris: #e1e1e1;

$separacion: 5rem;


//tipos
$rojoTipoFondo: #c5969e;
$rojoTipoLetra: #8a656e;
$moradoTipoFondo: #655a77;
$moradoTipoLetra: #433a55;
$verdeTipoFondo: #96c5c5;
$verdeTipoLetra: #5e8484;
$amarilloTipoFondo: #b39b5e;
$amarilloTipoLetra: #7d693f;
$grisTipoFondo: #6e6d6d;
$grisTipoLetra: #252525;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900